<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Campaign</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="form" method="post" enctype="multipart/form-data">
      <label for="id">showId:</label>
      <input type="text" name="id" required /><br />

      <label for="image">Image:</label>
      <input type="file" name="image" accept="image/*" />

      <button type="submit">Submit</button><br />
      <p id="message" style="display: none"></p>
    </form>
    <script src="/js/createCampaign.js"></script>
  </body>
</html>
