<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <style>
    .hidden {
      display: none;
    }
  </style>
  <body>
    <h1 id="showName"></h1>
    <h3 id="response"></h3>
    <form name="myForm" action="/order" method="POST">
      <div id="seatDataContainer"></div>
      <button type="submit">Submit</button>
    </form>
  </body>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get("id");

    function generateRandomString(length) {
      const charset =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      const randomCodeArray = Array.from({ length: length }, () =>
        charset.charAt(Math.floor(Math.random() * charset.length))
      );
      return randomCodeArray.join("");
    }

    const randomString = generateRandomString(10);

    const data = {
      data: {
        id,
        randomString,
      },
    };

    const message = document.getElementById("response");

    const sendMessage = axios
      .post(
        "https://y91dhf3vh0.execute-api.ap-northeast-1.amazonaws.com/v1",
        data
      )
      .then((response) => {
        message.innerHTML = `Please Wait: ${response.data.SendMessageResponse.ResponseMetadata.RequestId}`;
      })
      .catch((error) => {
        console.error(error);
      });

    function fetchData() {
      const getSeatData = axios
        .get(
          `https://18jihetbil.execute-api.ap-northeast-1.amazonaws.com/prod/seat/${id}`,
          {
            headers: {
              "X-Random-String": data.randomString,
            },
          }
        )
        .then((response) => {
          if (response.status === 200) {
            const data = JSON.parse(response.data.showSeat);
            console.log(data);

            const seatDataContainer =
              document.getElementById("seatDataContainer");
            document.getElementById(
              "showName"
            ).innerHTML = `Show Name: ${data[0].name}`;

            data.forEach(function (seat) {
              const seatDiv = document.createElement("div");

              let checkboxInput = "";
              if (seat.status !== "NotReserved") {
                checkboxInput = `<input type="checkbox" name="seat" value="${seat.id}" disabled>`;
              }
              seatDiv.innerHTML = `
              <p>座位: ${seat.seat_row}${seat.seat_number}</p>
              <input type="checkbox" name="seat" value="${seat.id}"
              ${checkboxInput}
              <input type="hidden" name="showId" value="${data[0].id}" />
              
              `;
              seatDataContainer.appendChild(seatDiv);
              //message.remove();
            });
          } else if (response.status === 400) {
            setTimeout(fetchData, 100);
          }
        })
        .catch((error) => {
          console.error(error);
        });
    }
    fetchData();
    // function validateForm() {
    //   let x = document.forms["myForm"]["seat"].value;
    //   console.log(x);
    //   if (x == "" || x > 4) {
    //     alert("not more than 4 seat or seat is empty");
    //     return false;
    //   }
    // }
  </script>
</html>
