<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/output.css" rel="stylesheet" />
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body style="background-color: #ffffff">
    <div class="navbar shadow-md bg-white">
      <div class="flex-1">
        <a href="/" class="font-bold pl-4 normal-case text-4xl text-amber-300"
          >TicketMax</a
        >
      </div>
      <div class="flex-none">
        <ul
          class="menu menu-horizontal px-1 text-2xl font-bold text-indigo-800"
        >
          <li><a href="/user/profile">PROFILE</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div
        class="after:mt-4 after:block after:h-1 after:w-full after:rounded-lg after:bg-gray-200 w-1/2 mx-auto mt-16 bg-white"
      >
        <ol class="grid grid-cols-3 text-lg font-medium text-gray-500">
          <li class="relative flex justify-start text-blue-700">
            <span
              class="absolute -bottom-[1.75rem] start-0 rounded-full bg-blue-700 text-white"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>

            <span class="hidden sm:block">選擇位置</span>

            <svg
              class="h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
              />
            </svg>
          </li>

          <li class="relative flex justify-center text-blue-700">
            <span
              class="absolute -bottom-[1.75rem] left-1/2 -translate-x-1/2 rounded-full bg-blue-700 text-white"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>

            <span class="hidden sm:block">購票確認</span>

            <svg
              class="mx-auto h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </li>

          <li class="relative flex justify-end">
            <span
              class="absolute -bottom-[1.75rem] end-0 rounded-full bg-gray-600 text-white"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>

            <span class="hidden sm:block">完成訂單</span>

            <svg
              class="h-6 w-6 sm:hidden"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
              />
            </svg>
          </li>
        </ol>
      </div>
    </div>
    <h2 class="mt-20 text-4xl flex justify-center gap-5 text-center">
      請於5分鐘內付款完畢
    </h2>
    <form id="payment-form" onsubmit="event.preventDefault(); onClick();">
      <div class="container flex justify-between mx-auto mt-20 bg-white">
        <div class="order card w-7/12 bg-base-100 bg-white" id="orders">
          <div class="card bg-base-100 shadow-xl bg-white">
            <figure class="h-48" id="imgFigure">
              <img id="image" alt="image" />
            </figure>
            <div class="card-body">
              <div>
                <div class="text-xl">活動</div>
                <h2 class="showName text-2xl" id="showName"></h2>
              </div>
              <div>
                <div class="text-xl mt-8">時間</div>
                <h2 class="showTime text-2xl" id="showTime"></h2>
              </div>
              <div>
                <div class="text-xl mt-8">地點</div>
                <h2 class="showHall text-2xl" id="showHall"></h2>
              </div>

              <div class="mt-8 flex">
                <h3 class="text-lg">訂單編號</h3>
                <h3 class="orderId text-lg ml-4"></h3>
              </div>

              <div class="overflow-x-auto">
                <table class="table text-xl text-slate-950">
                  <thead class="bg-amber-300 text-xl text-slate-950">
                    <tr>
                      <th>區域</th>
                      <th>座位</th>
                      <th>票價(NTD)</th>
                    </tr>
                  </thead>
                  <tbody id="orderTable"></tbody>
                  <tbody>
                    <tr>
                      <td>總金額</td>
                      <td></td>
                      <td class="total"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <input type="hidden" name="username" id="username" value="" />
          <input type="hidden" name="email" id="email" value="" />
          <input type="hidden" name="orderId" id="hiddenOrderId" value="" />
          <input type="hidden" name="total" id="hiddenTotal" value="" />
        </div>
        <div class="checkout w-3/5 ml-20 flex flex-col">
          <div class="mt-8 flex justify-between gap-5 w-[490px]">
            <h3 class="text-3xl mb-8">付款資訊</h3>
            <div class="w-auto flex">
              <div>
                <span id="minutes" class="countdown font-mono text-4xl">
                  <span></span>
                </span>
                min
              </div>
              <div>
                <span id="seconds" class="countdown font-mono text-4xl">
                  <span></span>
                </span>
                sec
              </div>
            </div>
          </div>

          <div class="mb-6">
            <label
              for="address"
              class="block mb-2 text-m font-medium text-gray-900 dark:text-white text-lg text-slate-500"
              >地址</label
            >
            <input
              type="text"
              name="address"
              value
              class="border border-slate-500 text-sm rounded block p-2 outline-none w-[490px] h-[40px] bg-white"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="phone"
              class="block mb-2 text-m font-medium text-gray-900 dark:text-white text-lg text-slate-500"
              >手機</label
            >
            <input
              type="text"
              name="phone"
              value
              class="border border-slate-500 text-sm rounded block p-2 outline-none w-[490px] h-[40px] bg-white"
              required
            />
          </div>

          <div class="card-number-group">
            <label
              for="card-number"
              class="block mb-2 text-m font-medium text-gray-900 dark:text-white text-lg text-slate-500"
              >信用卡號碼</label
            >
            <div
              class="card-number w-[490px] h-[40px] rounded border border-slate-500 block outline-none"
              id="card-number"
            ></div>
          </div>
          <div class="flex mt-8">
            <div class="expiration-date-group">
              <label
                for="expiration-date"
                class="block mb-2 text-m font-medium text-gray-900 dark:text-white text-lg text-slate-500"
                >有效期限</label
              >
              <div
                class="expiration-date w-[220px] h-[40px] rounded border border-slate-500 block outline-none"
                id="expiration-date"
              ></div>
            </div>
            <div class="ccv-group ml-10">
              <label
                for="card-ccv"
                class="block mb-2 text-m font-medium text-gray-900 dark:text-white text-lg text-slate-500"
                >安全碼</label
              >
              <div
                class="card-ccv w-[230px] h-[40px] rounded border border-slate-500 block outline-none"
                id="card-ccv"
              ></div>
            </div>
          </div>

          <button
            type="submit"
            class="bg-amber-300 p-3 w-[490px] rounded-md mt-20"
            id="submit-button"
          >
            確認付款
          </button>
          <button
            id="deleteBtn"
            class="bg-violet-700 text-white p-3 w-[490px] rounded-md mt-12"
            type="click"
          >
            取消訂單
          </button>
        </div>
      </div>
    </form>
    <form id="deleteOrder"></form>
    <footer class="footer p-4 bg-gray-100 text-lg mt-36">
      <div>
        <p>TicketMax© 2023</p>
      </div>
    </footer>
    <script src="/js/checkout.js"></script>
  </body>
</html>
